<div class="container">
  <div class="row">
    <div class="col s9">
      <h2><%= current_channel.title %></h2>
    </div>
    <div class="col s3">
        <br>
        <%= admin_button %>
    </div>
  </div>
  <%= image_tag current_channel.image, class: 'responsive-img' %>
  <p><%= current_channel.description %></p>

  <br>
  <div class="row">
    <div class="col s12">
      <p class="left"><%= number_to_currency current_channel.cost %></p>
      <%= link_to 'Get Started', '#', class: 'waves-effect waves-light btn right' %>
    </div>
  </div>

  <ul class="collection">
    <% current_channel.playlists.each do |playlist| %>
      <li class="collection-item">
        <h5 class="title"><%= playlist.title %></h5>
          <div class="collection video-links">
            <div class="divider"></div>
            <% playlist.videos.each do |video| %>
              <%= link_to video_path(video), class: "collection-item" do %>
                <div class="section video-link">
                  <h6><b><%= video.title %></b></h6>
                  <span class="truncate"><%= video.description %></span>
                </div>
              <% end %>
            <% end %>
          </div>
      </li>
    <% end %>
  </ul>

</div>
