<div class="container">
  <h2><%= current_channel.title %></h2>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s6">
      <h3>Playlists</h3>
    </div>
    <div class="col s6">
      <a class="btn-floating waves-effect waves-light right modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
    </div>
  </div>

  <ul class="collection" id="playlist-list">
    <% current_channel.playlists.rank(:row_order).each do |playlist, i| %>
      <li class="collection-item" data-update-url="<%= contributor_playlist_path(playlist) %>">
        <div class="row valign-wrapper">
          <div class="col s1 list-action valign">
            <i class="material-icons right"><b>::<span class="hide-on-small-only">:</span></b></i>
          </div>
          <div class="col s10">
            <h5 class="title"><%= playlist.title %>:</h5>
          </div>
          <div class="col s1 list-action">
            <a class="modal-trigger new-video-button" href="#modalV" data-video-url="<%= contributor_playlist_videos_path(playlist) %>"><i class="material-icons valign left">add_circle</i></a>
          </div>
        </div>
        <div class="divider"></div>
            <p>
              <ul class="video-list">
                <% playlist.videos.rank(:row_order).each do |video| %>
                  <li data-update-url="<%= contributor_video_path(video) %>">

                    <div class="row valign-wrapper">
                      <div class="col s1 list-action valign">
                        <i class="material-icons right"><b>::<span class="hide-on-small-only">:</span></b></i>
                      </div>
                      <div class="col s11">
                        <h6><b><%= video.title %></b></h6>
                        <span class="truncate"><%= video.description %></span>
                      </div>
                      <div class="divider"></div>
                    </div>


                  </li>
                <% end %>


                <!-- <li>
                  <div class="row valign-wrapper white">
                    <div class="col s2 drag-handle">
                      <a class="modal-trigger new-video-button right" href="#modalV" data-video-url="<%= contributor_playlist_videos_path(playlist) %>"><i class="material-icons">add_circle</i></a>
                    </div>
                    <div class="col s10"></div>
                </li> -->



              </ul>
            </p>

      </li>
    <% end %>
  </ul>

</div>

<!-- render partials for modals -->
<%= render partial: "contributor/playlists/new" %>
<%= render partial: "contributor/videos/new" %>


<script>
  $(function() {

    $('.video-list').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: {
            video: {
              row_order_position: ui.item.index()
            }
          }
        });
      }
    });

    $('#playlist-list').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: {
            playlist: {
              row_order_position: ui.item.index()
            }
          }
        });
      }
    });

    $('.new-video-button').click(function(){
      var videoUrl = $(this).data('video-url');
      $('#newVideoForm').attr('action', videoUrl);
    })
  });
</script>
