<!DOCTYPE html>
<html>
<head>
  <title>Movio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="http://vjs.zencdn.net/5.11.7/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/5.11.7/video.js"></script>
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  <!-- google tag manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PVPB8D');</script>

</head>
<body>

  <!-- google tag manager -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVPB8D"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <header>
    <nav>
      <div class="nav-wrapper container">
        <%= link_to 'movio', root_path, class: 'brand-logo' %>

        <a data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Browse", channels_path %></li>
          <li><%= link_to "Upload", new_contributor_channel_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Profile", dashboard_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-nav">
          <li><%= link_to "Browse", channels_path %></li>
          <li><%= link_to "Upload", new_contributor_channel_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Profile", dashboard_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <main>
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
  <%= yield %>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">movio</h5>
          <p class="grey-text text-lighten-4">Your front row seat to the future</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><%= link_to "Home", root_path, class: "grey-text text-lighten-3"%></li>
            <li><%= link_to "Watch", channels_path, class: "grey-text text-lighten-3"%></li>
            <li><%= link_to "Upload", new_contributor_channel_path, class: "grey-text text-lighten-3"%></li>
            <li><%= link_to "Login/Signup", new_user_session_path, class: "grey-text text-lighten-3"%></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Jared Gilbert
      </div>
    </div>
  </footer>

</body>
</html>
