<!DOCTYPE html>
<html>
<head>
  <title>Movio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="nav-wrapper container">
      <%= link_to 'movio', root_path, class: 'brand-logo' %>

      <a data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="#">Stream</a></li>
        <li><a href="#">Upload</a></li>
        <li><%= link_to "Login/Signup", new_user_session_path %></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li><a href="#">Stream</a></li>
        <li><a href="#">Upload</a></li>
        <li><%= link_to "Login/Signup", new_user_session_path %></li>
      </ul>
    </div>
  </nav>

  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
  <%= yield %>

</body>
</html>
